.example-card {
  width: 300px;
}

.card-content {
  /*height: 300px;*/
}

.subheading {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.explanation {
  text-align: justify;
}

.current-state {
  text-align: center;
}

md-chip {
  max-width: 100px;
  min-width: 50px;
  text-align: center;
}

.mat-card>.mat-card-actions {
  text-align: center;
}
