.example-card {
  width: 300px;
}

.animated-text {
  height: 150px;
  text-align: center;
  font-style: italic;
}

md-chip {
  max-width: 100px;
  min-width: 50px;
  text-align: center;
}

.slider-label {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 14px;
  font-style: italic;
}
