<md-card class="example-card">
  <md-card-header>
    <md-card-title>Fade In/Out</md-card-title>
    <md-card-subtitle>
      A basic animation using input parameters.
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="card-content">
      <p class="explanation">
        This basic animation uses animation input parameters for element opacity and animation duration.
        The animation uses two discrete states <b>in</b> and <b>out</b>.
      </p>
      <p class="explanation">
        While opacity changes trigger the animation, duration changes do not trigger the animation. A changed duration will only take effect for the next animation.
      </p>
      <p class="state-text">
        Current State:
      </p>
      <md-chip-list>
        <md-chip color="primary" selected="true">{{fadeStatus.value}}</md-chip>
        <md-chip color="accent" selected="true" [@fadeBasic]="fadeStatus" [style.opacity]="fadeStatus.params.end">{{fadeStatus.params.end}}</md-chip>
        <md-chip color="accent" selected="true" [@fadeBasic]="fadeStatus" [style.opacity]="fadeStatus.params.end">{{fadeStatus.params.duration}}</md-chip>
      </md-chip-list>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" [disabled]="fadeStatus.value === 'in'" (click)="toInState()">FADE IN</button>
    <button md-button color="primary" [disabled]="fadeStatus.value === 'out'" (click)="toOutState()">FADE OUT</button>
  </md-card-actions>
  <md-card-actions>
    <span class="slider-label">Duration (seconds): </span>
    <md-slider min="1" max="10" step="1" thumb-label="true" [value]="duration" (change)="updateDuration($event)"></md-slider>
  </md-card-actions>
</md-card>
