<md-card class="example-card">
  <md-card-header>
    <md-card-title>Fade In/Out</md-card-title>
    <md-card-subtitle>
      A basic animation using input parameters.
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="card-content">
      <p class="explanation">
        This basic animation uses animation input parameters for element opacity and animation duration.
        The animation uses two discrete states <b>in</b> and <b>out</b>.
      </p>
      <p class="explanation">
        State changes trigger the animation based on the then current opacity and duration settings.
      </p>
      <h4 class="subheading">
        Settings
      </h4>
      <p class="mat-caption">
        Setting changes take effect with the next triggered transition.
      </p>
      <div>
        <md-slider min="1" max="10" step="1" thumb-label="true" [value]="duration" (change)="updateDuration($event)"></md-slider>
        <span class="mat-caption">Duration (seconds)</span>
      </div>
      <div>
        <md-slider min="0" max="1" step="0.1" thumb-label="true" [value]="inOpacity" (change)="updateInOpacity($event)"></md-slider>
        <span class="mat-caption">Opacity (IN)</span>
      </div>
      <div>
        <md-slider min="0" max="1" step="0.1" thumb-label="true" [value]="outOpacity" (change)="updateOutOpacity($event)"></md-slider>
        <span class="mat-caption">Opacity (OUT)</span>
      </div>
      <h4 class="subheading">
        Current State: {{fadeStatus.value}}
      </h4>
      <md-chip-list>
        <md-chip color="primary" selected="true">{{fadeStatus.value}}</md-chip>
        <md-chip color="accent" selected="true" [@fadeBasic]="fadeStatus" [style.opacity]="fadeStatus.params.end">{{fadeStatus.params.end}}</md-chip>
        <md-chip color="accent" selected="true" [@fadeBasic]="fadeStatus" [style.opacity]="fadeStatus.params.end">{{fadeStatus.params.duration}}</md-chip>
      </md-chip-list>
    </div>
  </md-card-content>
  <md-card-actions>
    <button class="uppercase" md-button color="primary" [disabled]="fadeStatus.value === 'in'" (click)="toInState()">Fade In</button>
    <button class="uppercase" md-button color="primary" [disabled]="fadeStatus.value === 'out'" (click)="toOutState()">Fade Out</button>
  </md-card-actions>
</md-card>
