<div fxLayout="column" fxFlex [class.sharp-dark-theme]="darkTheme" [class.d3ess-dark-theme]="darkTheme">

  <md-toolbar color="primary">
    <button *ngIf="!sideNavOpen" md-icon-button (click)="sideNav.open(); sideNavOpen=true">
        <md-icon>menu</md-icon>
      </button>
    <button *ngIf="sideNavOpen" md-icon-button (click)="sideNav.close(); sideNavOpen=false">
        <md-icon>close</md-icon>
      </button>
    <span>
      {{title}}
    </span>
    <span class="spacer"></span>
    <a class="uppercase" href="https://github.com/tomwanzek/ngx-anime" md-button="">
      <span class="mat-button-wrapper">
        <img src="assets/github/PNG/GitHub-Mark-32px.png" width="24px" height="24px"/>
        Github
      </span>
    </a>
  </md-toolbar>

  <md-sidenav-container fxFlex (backdropClick)="sideNavOpen=false">
    <md-sidenav #sideNav mode="push" align="start">
      <md-slide-toggle class="theme-toggle" color="accent" [checked]="darkTheme" (change)="toggleDarkTheme()">
        Dark Theme
      </md-slide-toggle>
    </md-sidenav>

    <div class="content" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
      <app-basic-animation-wrapper fxFlex="33"></app-basic-animation-wrapper>
      <app-extended-animation-wrapper fxFlex="33"></app-extended-animation-wrapper>
      <app-multi-extended-animation-wrapper fxFlex="33"></app-multi-extended-animation-wrapper>
    </div>
  </md-sidenav-container>
</div>
