<md-card class="example-card">
  <md-card-header>
    <md-card-title>Single Item</md-card-title>
    <md-card-subtitle>
      An animation driven by component input.
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="card-content">
      <p class="explanation">
        This animation depends on component inputs and their change detection. Animation input parameters for element <i>opacity</i> and animation <i>duration</i> have
        a continuous state space, but the animation uses only one "named" discrete state <b>data</b>. The component also accepts a <i>color</i> input, which is not animated.
      </p>
      <p class="explanation">
         While opacity changes trigger the animation, duration changes do not trigger the animation. A changed duration will only take effect for the next animation.
      </p>
      <h4 class="subheading">
        Settings
      </h4>
      <p class="mat-caption">
        Setting changes take effect with the next triggered transition.
      </p>
      <div>
        <md-slider min="1" max="10" step="1" thumb-label="true" [value]="duration" (change)="updateDuration($event)"></md-slider>
        <span class="mat-caption">Duration (seconds)</span>
      </div>
      <h4 class="subheading">
        Current State <span *ngIf="data">: Data {{data}}</span>
      </h4>
      <app-extended-animation
        [opacity]="opacity"
        [duration]="durationStr"
        [color]="color"
      ></app-extended-animation>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" [disabled]="data === 1" (click)="toData1()">DATA 1</button>
    <button md-button color="primary" [disabled]="data === 2" (click)="toData2()">DATA 2</button>
  </md-card-actions>
</md-card>
