.subheading {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.explanation {
  text-align: justify;
}

.current-state {
  text-align: center;
}

.mat-card>.mat-card-actions {
  text-align: center;
}
